<!--Essential HTML Header Stuff-->
<!DOCTYPE html>
<html lang="en">

<!--Head of HTML-->
<head>
  <!--Metadata about the page, nothing of functional importance here-->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--Browswer Tab Title-->
  <title>
    TwitterData
  </title>

  <!--StyleSheets-->
  <!--BootStrap-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <!--Our Custom CSS Stylesheet-->
  <link rel="stylesheet" href="styles/dashboard.css">

  <!--
    Recommended by W3Schools to put the script tag for Angular's api up 
    here, but we *could* be safe putting it at the bottom with the other 
    script tags if need be
  -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>

<!--Entering body of Page-->
<!--
ng-app directive goes here to assign the body of the page to our app
ng-controller directive assigns the controller to the page as well

all containers within the body should also inherit this assignment
-->
<body ng-app="TwitterData">

  <!--Navigation Bar-->
  <!--All this class stuff is for the styling, it's bootstrap.-->
  <nav class="navbar navbar-dark shadow-sm">

    <!--Logo-->
    <!--clicking the image will link back to the homepage thanks to href-->
      <a href="index.html" class="navbar-brand">
        <img src="http://www.stickpng.com/assets/images/580b57fcd9996e24bc43c53e.png" width="50" height="50" alt="Home">
        TwitterData
      </a>

    <!--Sign Out Button (no functionality yet)-->
    <div class="sign-out">
        <button class="btn btn-outline-secondary">Sign out</button>
    </div>
  </nav>

  <div class="container-fluid" ng-controller="TwitterController">
    <div class="row justify-content-center">
      <div class="col-8 align-items-center">
        <div class="row align-items-center">
          <div class="input-group input-group-lg topmargin-lg">
            <div class="input-group-prepend">
              <div class="btn-group btn-group-toggle hide-btn" data-toggle="buttons">
                <label class="btn btn-outline-secondary active" ng-click="setSearch(false)">
                  <input type="radio" name="area-button" autocomplete="off">Area
                </label>
              </div>
            </div>
            <input placeholder="Keyword" type="text" class="form-control" ng-model="userPlace" ng-keyup="$event.keyCode == 13 ? searchTrend() : null">
            <div class="input-group-append">
              <button ng-click="searchTrend()" class="btn btn-outline-secondary">See Trends</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-8 topmargin-lg">
        <canvas id="test-chart"></canvas>
        <div id="no-results" style="display: none">
          <h1>Sorry</h1>
          <h2>No search results found ... Try again</h2>
        </div>
      </div>
    </div>
  </div>
</body>
</html>

  <!--Script Tags-->
  <!--jquery-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://unpkg.com/popper.js/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  
  <!--angular error stuff-->
  <script src="https://code.angularjs.org/1.4.3/angular.js"></script>

  <!--Charts-->
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  
  <!--Our own js files-->
  <script src="js/app.js"></script>
  <script src="js/controllers/listingController.js"></script>
  <script src="js/factories/twitterFactory.js"></script>