<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="styles/dashboard.css">
	<title>TwitterData</title>
</head>

<body ng-app="TwitterData">
	<nav class="navbar shadow-sm navbar-dark">
		<a class="navbar-brand" href="index.html">
			<img src="http://www.stickpng.com/assets/images/580b57fcd9996e24bc43c53e.png" width="50" height="50"class="logo" alt="Home">TwitterData
		</a>
		<div class="signout">
			<button class="btn btn-outline-secondary">Sign Out</button>
		</div>
	</nav>
	<div class="container-fluid" ng-controller="areaTopicController">

		<div class="row">
			<div class="col-md-1">
				<a href="index.html" class="btn btn-lg btn-default"><span class="glyphicon glyphicon-arrow-left"></span></a>
			</div>
			<div class="col-md-10">
				<div class="card align-items-center topmargin-sm">
					<div class="card-body">
						<h2 class="no-result" style="display: none">Nothing Found try again
						</h2>
						<div class="yes-result align-items-center">
							<h2>Results for {{topic}} <span ng-if="areaSearch">in {{place}}</span></h2>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="card topmargin-sm">
					<div class="card-body">
						<h2 class="card-title">Tweets By Hour</h2>
						<div class="btn-group btn-group-toggle hide-btn float-right" data-toggle="buttons">
							<label class="btn btn-outline-secondary active" ng-click="lineRetweets()">
								<input type="radio" name="graph-filter" id="retweets-vs-time" autocomplete="off" checked>Retweets</label>
								<label class="btn btn-outline-secondary" ng-click="lineFavorites()">
									<input type="radio" name="graph-filter" id="likes-vs-time" autocomplete="off">Favorites</label>
								</div>
								<div>
									<h2 class="no-result" style="display: none">nothing here</h2>
									<canvas id="line-graph"></canvas>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="card topmargin-sm">
							<div class="card-body">
								<h2>Top Tweets</h2>
								<div class="btn-group btn-group-toggle hide-btn float-right" data-toggle="buttons">
									<label class="btn btn-outline-secondary" ng-click="barTweetsRetweets()">
										<input type="radio" name="graph-filter" id="retweets-vs-tweet" autocomplete="off">Retweets
									</label>
									<label class="btn btn-outline-secondary active" ng-click="barTweetsFavorites()">
										<input type="radio" name="graph-filter" id="likes-vs-tweet" autocomplete="off" checked>Favorites
									</label>
								</div>
								<div>
									<h2 class="no-result" style="display: none">nothing here</h2>
									<canvas id="top-tweets"></canvas>
								</div>
							</div>
						</div>
						<div class="card topmargin-lg">
							<div class="card-body">
								<h2>Top Users</h2>
								<div class="btn-group btn-group-toggle hide-btn float-right" data-toggle="buttons">
									<label class="btn btn-outline-secondary active" ng-click="barUsersFollowers()">
										<input type="radio" name="graph-filter" id="users-vs-followers" autocomplete="off" checked>Followers
									</label>
									<label class="btn btn-outline-secondary" ng-click="barUsersTweets()">
										<input type="radio" name="graph-filter" id="users-vs-tweets" autocomplete="off">Tweets
									</label>
								</div>
								<div>
									<h2 class="no-result" style="display: none">nothing here</h2>
									<canvas id="top-users"></canvas>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</body>
	</html>


<!--angular-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://code.angularjs.org/1.4.3/angular.js"></script>

<!--Charts-->
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

<!--jquery-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!--our scripts-->
<script src="js/app.js"></script>
<script src="js/factories/twitterFactory.js"></script>
<script src="js/controllers/areaTopicController.js"></script>






